* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7ff;
    color: #0a2f5f;
}

.raiz {
    display: block;
    width: 50rem;
}

#entradaBusqueda {
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.formulario {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    padding: 1rem;
    width: 98%;
    font-size: 16px;
    background-color: #dcf3ff;
}

.formulario > div {
    width: 100%;
}

.formulario > button {
    background-color: #0077cc;
    padding: 1%;
    border-radius: 5px;
    width: 15%;
    color: white;
    border: 1px solid #005499;
    cursor: pointer;
}

.formulario > input {
    width: 25%;
    margin: 2%;
    font-size: 16px;
    padding: 1%;
    border: 1px solid #ddd;
}

#tabla {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#tabla th, #tabla td {
    text-align: left;
    padding: 12px;
}

#tabla tr {
    border-bottom: 1px solid #ddd;
}

#tabla tr.titulos {
    background-color: #005499;
    color: white;
}

.zoom {
    text-align: center;
    cursor: pointer;    
}

.zoom:hover {
    transform: scale(1.5);
    color: rgb(255, 0, 0);
}